<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>
<% x = 0 %>
<% @users.each do |user| %>
  <% if user.id == current_user.id %>
    <% x = 1 %>
  <% end %>
<% end %>
<% if x == 0 && @tournament.qtde_users < 23 %> 
  <%= link_to 'Registrar', registrate_user_tournament_path(@tournament) %>
<% end %>  
<% if x == 1 %>
  <%= "Já Registrado!"  %>
<% end %>
<% if @tournament.qtde_users >= 23 %>
  <%= "Torneio lotado!" %>
<% end %>
<% if @tournament.user_id_owner == current_user.id || current_user.type_user = 2 %>
  <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<% end %>  
<%= link_to 'Back', root_path %>
